body{
    margin: 0px;
    padding: px;
}

#Main{
    margin: 20px;
    padding-top: 60px;
}

#Nav{
    position: fixed;
    width: 100%;
}

#Nav hr{
    margin: 0;
    padding: 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#Nav ul{
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 5px;
}

#Nav li:not(#Title){
    margin-left: 45px;
    float: right;
}

#Nav li:hover{
    text-decoration: underline;
}

#Dropdown{
    display: none;
}

#TitleText{
    font-size: 2.5em;
    font-weight: bold;
}

.NavButtons{
    font-size: 1.5em;
}

/*
ul.Nav {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
}

.Nav li {
    float: left;
}

.Nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.Nav li a:hover {
    background-color: #111;
}

.Nav li.Dropdown a{
    width: 14px;
    display: none;
}



@media only screen and (max-width: 600px) {
    .Nav li a {
        display: none;
    }
    
    .Nav.Responsive li a {
        display: block;
        text-align: center;
    }
    
    .Nav li.Dropdown a{
        display: block;
    }
    
    .Nav.Responsive li{
        float: none;
        background-color: #599;
    }
    
    .Nav li#Icon{
        float: inherit;
    }
    
}

.Main {
    margin-top: 20px;
}
*/